body {
  background-color: #E0E0E0
}
header {
  background-color: #404040;
  color: white;
  padding: 5px 30px 5px 5px;
  box-sizing: border-box;
}
h1 {
  margin-top: 10px;
  margin-bottom: 1px;
  font-family: Merriweather, sans-serif;
}
h4 {
  font-family: Arvo, sans-serif;
  font-size: 16px;
  margin-top: 5px;
}
nav {
  float: right;
  display: inline-block;
  background-color: #161616;
  padding: 5px;
  position: relative;
  font-family: Arvo, sans-serif;
  margin-top: 30px;
}
section {
  display: flex;
  padding: 20px;
}
footer {
  background-color: #404040;
  color: white;
  font-family: Merriweather, sans-serif;
  font-size: 12px;
  padding: 10px;
}
article h4 {
  padding-left: 10px;
}
.navigation {
  text-decoration: none;
  font-size: 12px;
  color: white;
  padding: 5px;
}
.article-image {
  height: 100px;
  width: 80px;
  text-align: justify;
  padding-left: 10px;
}
.article-image:hover {
  transform: scale(4);
}
.read-more {
  color: orange;
  text-decoration: none;
  float: right;
  font-family: Arvo, sans-serif;
  margin-right: 10px;
}
.read-more:hover {
  color: #404040;
}
.preview-text {
  /*display: inline;*/
  text-align: justify;
  color: #2E0854;
  font-family: Arvo, sans-serif;
  padding: 10px;
  margin-top: -5px;
  margin-bottom: -10px;
}
.flex-container {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
  margin-right: 10px;
}
